* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1d243d;
    background-image: linear-gradient(#1d243d, rgb(11, 24, 33));
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.25fr repeat(5, 1fr) 1.25fr 1fr;
    row-gap: 2%;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    background-color: rgb(33, 41, 66);
    box-shadow: 1px 1px 108.8px 19.2px rgb(25, 31, 53);
    width: 40%;
    height: 90%;
}

.error {
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
}

.error-message {
    padding: 1%;
    background: #ff3333;
    color: white;
    border-radius: 10px;
    font-size: 1.1rem;
}

h1 {
    color: #5c6bc0;
    font-size: 2rem;
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bold;
    border-bottom: 1.21px solid #5c6bc0;
    width: 75%;
}

input[type=text],
input[type=password] {
    background: #262e49;
    border-radius: 7px;
    padding: 2%;
    width: 100%;
    height: 80%;
    border: 1px solid #5c6bc0;
    color: #d6d6d6;
    font-size: 1.25rem;
    transition: 0.3s ease-in-out;
}

.full-column {
    grid-column: 1/-1;
    align-self: flex-start;
    width: 75%;
    height: 74%;
    margin-top: 1%;
}

.end {
    justify-self: self-end;
    margin-right: 1%;
    width: 74% !important;
    height: 74%;
}

.start {
    justify-self: self-start;
    margin-left: 1%;
    width: 74% !important;
    height: 74%;
}

input[type=submit] {
    grid-column: 1 / -1;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 90%;
    height: 75%;
    font-size: 1.25rem;
    transition: 0.5s;
    margin-top: 5%;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #5d33e6;
}

input[type=submit]:active {
    box-shadow: 0 0 2px 10px #7f5feb;
}

a {
    color: #5c7fda;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #5d33e6;
}

.login {
    grid-column: 1 / -1;
}